.ywpui_step{
    line-height: 14px;
    min-height: 60px;
    position: relative;
}
.ywpui_step_icon{
    border: 1px solid #999;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 14px;
    font-size: 14px;
    background-color: #999;
    margin-right: 15px;
    margin-top: 2px;
}
.ywpui_step_tail{
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 17px 0px 0px 7px;
}
.ywpui_step_tail:after {
    content: '';
    display: inline-block;
    background: #e8e8e8;
    height: 100%;
    border-radius: 1px;
    width: 1px;
}
.ywpui_step:last-child .ywpui_step_tail, .ywpui_step:last-child .ywpui_step_tail-title:after{
    display: none;
}

.ywpui_step.active .ywpui_step_icon{
    border: 1px solid #14cc95;
    background-color: #14cc95;
}

.ywpui_step.active .ywpui_step_tail:after{
    background-color: #14cc95;
}