

$white:    #fff !default;
$gray: #999 !default;
$red: #f36f5d !default;
$green: #14cc95 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$ywpui-primary:       $green !default;
$ywpui-secondary:     $gray-600 !default;
$ywpui-success:       $green !default;
$ywpui-warning:       $red !default;
$ywpui-danger:        $red !default;
$ywpui-light:         #EEF1F9 !default;
$ywpui-dark:          $gray-800 !default;
$ywpui-border-color:  #ccc !default;

$form-input-line-height: 2rem; 