.ywpui_menu{
    background: #283142;
}

.ywpui_menu_brand{
    border-left: solid 3px #283142;
    text-align: center;
    font-size: 16px;
}
.ywpui_menu_brand i{
    display: block;
    font-size: 26px;
}

.ywpui_menu_brand.active, .ywpui_menu_brand.hover{
    background: #212733;
    color: #fff;
    border-color: #14CC95;
    border-left: solid 3px #14CC95;
}

.ywpui_menu_brand.active i, .ywpui_menu_brand.hover i{
	color: #14CC95;
}

.ywpui_menu_brand, .ywpui_menu_item{
    padding: 6px 0;
    white-space: nowrap;
    position: relative;
}

.ywpui_menu_brand a, .ywpui_menu_item a{
    display: block;
    color: #8691af;
}

.ywpui_menu_item{
    text-align: left;
    font-size: 14px;
    padding: 15px 20px;
}

.ywpui_menu_item a{
    display: block;
    font-size: 14px;
    color: #8691af;
    text-decoration: none;
}

.ywpui_menu_item.active, .ywpui_menu_item.active a{
    color: #fff;
}

.ywpui_menu_sub_menu{
    position: absolute;
    left: 97px;
    top: 0;
    z-index: 2000;
    background: #212733;
    width: auto;
    min-width: 160px;
    color: #8691af;
    text-align: left;
}
.ywpui_menu_group_menu{
    display: flex;
}
.ywpui_menu_item_group{
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    width: 160px;
    border-right: 1px solid #323d52;
    box-sizing: border-box;
}
.ywpui_menu_item_group_title{
    padding: 15px 20px;
    text-align: left;
    font-size: 16px;
}